$std-width: 800px;
$ribbon-height: 75px;
$search-height: 30px;

.ribbon {
  position: fixed;
  bottom:0;
  left: 0;
  width: 100%;
  height: $ribbon-height;
  background-color: black;
  text-align: center;
}

.search-form {
  width: 100%;
  position: fixed;
  margin: 0 auto;
  top: 0px;
  height: $search-height;
  background-color: white;
  padding: 10px;

  text-align: center;
  input[type='text'] {
    width: 60%;
  }
}

.player-container {
  padding: 10px 0 0;
  background-color: black;
  width: 800px;
  display: inline-block;
}

audio {
  width: 100%;
  height: 40px;
  background-color: black;
}

.now-playing-title {
  font-size: 14px;
  color: white;
  margin: 0;
  text-align: left;
  padding-left: 15px;
}

.results-container {
  min-width: 800px;
  margin: $search-height + 20px auto $ribbon-height + 5px;
  padding: 0 50px;
  text-align: center;
}

.results-table {
  margin: 0 auto;
  text-align: left;
  width: $std-width;
}

.playable {
  font-size: 15px;
  color: black;
  background-color: lightgray;
  &:hover, &.active {
    background-color: pink;
    cursor: pointer;
  }
  &.active {
    color: white;
    background-color: red;
  }
}
