body {
  text-align: center;
}

$std-width: 800px;

.search-form {
  input[type='text'] {width: 730px;}
}

.results-count {

}

.player-container {
  display: inline-block;
  vertical-align: top;
  padding: 10px 0 20px;
}

.now-playing-info {
  padding: 10px 0 20px 10px;
  display: inline-block;
  vertical-align: top;
  width: 390px;
  text-align: left;
  p { margin: 0; }
}

.now-playing-heading {
  font-size: 16px;
  font-weight: bolder;
}

.now-playing-title {
  font-size: 14px;
}

.results-container {
  height: 500px;
  overflow: auto;
  min-width: 800px;
  margin: 0 auto;
  padding: 0 50px;
}

.results {
  margin: 0 auto;
  text-align: left;
  width: $std-width;
}

.playable {

}
